@media (max-width: 619px) {

	.head {
		font-size: 3.870967742vw; /* 24(px) / 620(px) * 100vw */
	}

	.body {
		margin-top: 3.870967742vw; /* 24(px) / 620(px) * 100vw */
	}

	.body-img {
		width: 32.2580645161vw; /* 200(px) / 620(px) * 100vw */
	}

	.body-content {
		width: 48.3870967742vw; /* 300(px) / 620(px) * 100vw */
		padding: 1.935483871vw; /* 12(px) / 620(px) * 100vw */
	}

	.body-content-head {
		font-size: 3.22580645161vw; /* 20(px) / 620(px) * 100vw */
	}

	.body-content-body {
		font-size: 2.5806451613vw; /* 16(px) / 620(px) * 100vw */
		margin-top: 2.5806451613vw; /* 16(px) / 620(px) * 100vw */
	}
}